<form name="photoAreaForm" class="photo-area">
    <md-input-container layout="row" layout-align="center center">
        <md-button
            type="file"
            ng-model="photoAreaCtrl.file"
            ngf-select="photoAreaCtrl.onSelectFile($files)"
            ngf-pattern="'image/*'"
            accept="image/*"
            class="md-primary md-raised"
            required>Choose file</md-button>

        <md-button type="button" class="md-primary" ng-disabled="!photoAreaCtrl.data.photo" ng-click="photoAreaCtrl.startOver()">Start over</md-button>
    </md-input-container>

    <div ng-drop="true" ng-drop-success="photoAreaCtrl.dropSuccess($data, $event)">
        <!--
            NOTE: ng-show="photoAreaCtrl.data.photo" here because, even after: photo = undefined; image still displayed
            look @ PhotoAreaService.deletePhoto method
        -->
        <img ng-show="photoAreaCtrl.data.photo" ng-src="{{photoAreaCtrl.data.photo}}">

        <div ng-repeat="sticker in photoAreaCtrl.data.stickers">
            <sticker data="sticker" position="sticker.position" on-delete="photoAreaCtrl.onStickerDelete(data)" class="sticker__wrapper"></sticker>
        </div>
    </div>
</form>
