.sticker {
    position: relative;
    z-index: 1;
    width: 150px;
    min-height: 150px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    }

    .sticker__delete {
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        padding: 0;
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        line-height: 30px;
        margin: 0;
        color: #F44336;
        font-size: 30px;
    }

    .sticker__title {
        display: none;
        width: 100%;
        position: absolute;
        z-index: 2;
        bottom: 2px;
        left: 0;
        background: rgba(0,0,0,0.65);
        color: white;
    }

    .sticker:hover .sticker__delete,
    .sticker:hover .sticker__title {
        display: block;
    }